<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
 <context-param>
 	<param-name>url</param-name>
 	<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
 <context-param>
 	<param-name>uname</param-name>
 	<param-value>system</param-value>
 </context-param>
 <context-param>
 	<param-name>password</param-name>
 	<param-value>oracle</param-value>
 </context-param>
 <servlet>

 	<servlet-name>abc</servlet-name>
 	<servlet-class>com.antra.FirstServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>abc</servlet-name>
 	<url-pattern>/fs</url-pattern>
 </servlet-mapping>
 <servlet>
 	<servlet-name>second</servlet-name>
 	<servlet-class>com.antra.SecondServlet</servlet-class>
 	<init-param>
 		<param-name>uname</param-name>
 		<param-value>abc</param-value>
	 </init-param>
 </servlet>
 <servlet-mapping>
 	<servlet-name>second</servlet-name>
 	<url-pattern>/ss</url-pattern>
 </servlet-mapping>
 <servlet>
 	<servlet-name>ts</servlet-name>
 	<servlet-class>com.antra.ThirdServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>ts</servlet-name>
 	<url-pattern>/ts</url-pattern>
 </servlet-mapping>
</web-app>